{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card drop-shadow mx-auto mt-2 p-3 col-md-5">
        <div class="reg-header">
            <label class="underline-lab">You have been logout!</label><br>
            <small>
                <a href="{% url 'login_page' %}">login again</a>
            </small>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
        </form>
    </div>
{% endblock content %}