{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card drop-shadow mx-auto mt-2 p-3 col-md-5">
        <div class="reg-header">
            <label class="underline-lab">Password Reset</label>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <div class="col text-center">
                <button type="submit" class="btn btn-sm btn-info">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}