{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="main-panel">
        <div class="row mt-2">
            <div class="col-md-5 grid-margin stretch-card">
                <div class="drop-shadow card">
                    <div class="profile-card">
                        <div class="profile-header">
                            <div class="cover-image">
                                <img src="https://cdn.pixabay.com/photo/2019/10/19/14/16/away-4561518_960_720.jpg"
                                    class="img img-fluid">
                            </div>
                            <div class="user-image">
                                <img src="{{ user.profile.profile_image.url }}" class="img ">
                            </div>
                        </div>
                        <div class="profile-content">
                            <div class="profile-name">{{user.username}}</div>
                            <div class="profile-designation">{{user.email}}</div>
                            <h6>Profile Info:</h6>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{user_form|crispy}}
                                {{profile_form|crispy}}
                                <button type="submit" class="btn btn-sm btn-success float-right mb-3">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 grid-margin stretch-card">
                <div class="drop-shadow card">
                    <div class="card-body">
                        <p class="card-title font-weight-bold">About</p>
                        <hr>
                        <p class="card-description">User Information</p>
                        <ul class="about">
                            <li class="about-items"><i class="mdi mdi-account icon-sm "></i><span
                                    class="about-item-name">Name:</span><span class="about-item-detail">Santosh
                                    Ghimire</span><a href="" class="about-item-edit">Edit</a>
                            </li>
                            <li class="about-items"><i class="mdi mdi-mail-ru icon-sm "></i><span
                                    class="about-item-name">username:</span><span
                                    class="about-item-detail">santoshghimire</span> <a href=""
                                    class="about-item-edit">Edit</a>
                            </li>
                            <li class="about-items"><i class="mdi mdi-lock-outline icon-sm "></i><span
                                    class="about-item-name">Password:</span><span
                                    class="about-item-detail">**********</span> <a href="" class="about-item-edit">Edit</a>
                            </li>
                            <li class="about-items"><i class="mdi mdi-format-align-left icon-sm "></i><span
                                    class="about-item-name">Bio:</span><span class="about-item-detail">Lorem ipsum dolor
                                    sit amet, consectetur adipisicing elit. Architecto totam, nemo quidem delectus
                                    dolores vero porro inventore perferendis minus perspiciatis.</span> <a href=""
                                    class="about-item-edit">Edit</a>
                            </li>
                            <li class="about-items"><i class="mdi mdi-trophy-variant-outline icon-sm "></i><span
                                    class="about-item-name">Badges:</span><span class="about-item-detail">
                                    <button type="button" class="btn btn-success btn-rounded btn-icon">
                                        <i class="mdi mdi-star text-white"></i>
                                    </button>
                                    <button type="button" class="btn btn-info btn-rounded btn-icon">
                                        <i class="mdi mdi-check text-white"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-rounded btn-icon">
                                        <i class="mdi mdi-check text-white"></i>
                                    </button>
                                </span> <a href="" class="about-item-edit">View</a>
                            </li>
                        </ul>
                        <p class="card-description">Contact Information</p>
                        <ul class="about">
                            <li class="about-items"><i class="mdi mdi-phone icon-sm "></i><span
                                    class="about-item-name">Phone:</span><span
                                    class="about-item-detail">+9779861106179</span><a href=""
                                    class="about-item-edit">Edit</a>
                            </li>
                            <li class="about-items"><i class="mdi mdi-map-marker icon-sm "></i><span
                                    class="about-item-name">Address:</span><span class="about-item-detail">254 National
                                    Highway , Hisar India</span> <a href="" class="about-item-edit">Edit</a>
                            </li>
                            <li class="about-items"><i class="mdi mdi-web icon-sm "></i><span
                                    class="about-item-name">Site:</span><span class="about-item-detail"><a
                                        href="google.com">www.google.com</a></span> <a href=""
                                    class="about-item-edit">Edit</a>
                            </li>
                        </ul>
                        <p class="card-description">Basic Information</p>
                        <ul class="about">
                            <li class="about-items"><i class="mdi mdi-cake icon-sm "></i><span
                                    class="about-item-name">Birthday:</span><span class="about-item-detail">Aug 3 ,
                                    1998</span><a href="" class="about-item-edit">Edit</a>
                            </li>
                            <li class="about-items"><i class="mdi mdi-account icon-sm "></i><span
                                    class="about-item-name">Gender:</span><span class="about-item-detail">Male</span> <a
                                    href="" class="about-item-edit">Edit</a>
                            </li>
                            <li class="about-items"><i class="mdi mdi-clipboard-account icon-sm "></i><span
                                    class="about-item-name">Profession:</span><span class="about-item-detail">Student</span>
                                <a href="" class="about-item-edit">Edit</a>
                            </li>
                            <li class="about-items"><i class="mdi mdi-water icon-sm "></i><span
                                    class="about-item-name">Blood Group:</span><span class="about-item-detail">AB+</span> <a
                                    href="" class="about-item-edit">Edit</a>
                            </li>
                            <li class="about-items"><i class="mdi mdi-human-male-female icon-sm "></i><span
                                    class="about-item-name">Relationship Status:</span><span
                                    class="about-item-detail">Single</span> <a href="" class="about-item-edit">Edit</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}